<div class="container-fluid p-4">
  <main>
    <div class="row d-flex justify-content-center align-items-cente">
      <div class="col-12 bg-secondary-subtle box border border-white">
        menu
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 bg-primary-subtle box border border-white">
        img 1
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-6 d-none d-sm-none d-md-block d-lg-block d-xl-block bg-primary-subtle box p-1 border border-white">
        img 2
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12 bg-primary-subtle box border border-white">
        img 3
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-5 bg-danger-subtle box border border-white">
        <div>art 1</div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-7 bg-danger-subtle box border border-white">
        <div>art 2</div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-5 bg-danger-subtle border border-white">
        <div>art 3</div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-7 bg-danger-subtle box border border-white">
        <div>art 4</div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-5 bg-danger-subtle box border border-white">
        <div>art 5</div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-7 bg-danger-subtle box border border-white">
        <div>art 6</div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-5 bg-danger-subtle box border border-white">
        <div>art 7</div>
      </div>
      <div
        class="col-md-3 col-lg-3 col-xl-3 col-sm-4 col-7 bg-danger-subtle box d-sm-none d-md-block d-lg-block d-xl-block border border-white">
        <div>art 8</div>
      </div>
    </div>
  </main>
</div>
