<div class="container-fluid">
<main>
  <div class="row p-4 mt-4 d-flex justify-content-center">
    <h1 class="text-center mb-4"><i class="bi bi-boombox"></i> Portal de Temas Músicales</h1>
    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
          <div class="card border-white">
            <img src="../../../assets/Foo Fighters - The Colour And The Shape.webp" class="card-img-top" alt="Portada del disco" />
            <div class="card-body">
              <h5 class="card-title">Everlong</h5>
              <p class="card-text">Foo Fighters</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
          <div class="card border-white">
            <img src="../../../assets/Villains_cover_artwork.png" class="card-img-top" alt="Portada del disco" />
            <div class="card-body">
              <h5 class="card-title">Villains</h5>
              <p class="card-text">Queens Of The Stone Age</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
          <div class="card border-white">
            <img src="../../../assets/Arcticmonkeys-humbug.jpg" class="card-img-top" alt="Portada del disco" />
            <div class="card-body">
              <h5 class="card-title">Cornerstone</h5>
              <p class="card-text">Arctic Monkeys</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
          <div class="card border-white">
            <img src="../../../assets/Muse_2nd_law.jpg" class="card-img-top" alt="Portada del disco" />
            <div class="card-body">
              <h5 class="card-title">Supremacy</h5>
              <p class="card-text">Muse</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
          <div class="card border-white">
            <img src="../../../assets/elmadrileño.jpeg" class="card-img-top" alt="Portada del disco" />
            <div class="card-body">
              <h5 class="card-title">Nunca Estoy</h5>
              <p class="card-text">C. Tangana</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6">
          <div class="card border-white">
            <img src="../../../assets/descartable.jpeg" class="card-img-top" alt="Portada del disco" />
            <div class="card-body">
              <h5 class="card-title">Morfeo</h5>
              <p class="card-text">WOS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-3 col-sm-12 col-12">
      <div class="card border-white">
        <a href="#"><img src="../../../assets/coca.png" class="card-img" alt="publicidad" /></a>
      </div>
    </div>
  </div>
</main>
</div>
