<main class="mt-5">
  <h1 class="text-center"><i class="bi bi-moon-stars"></i> Horóscopo</h1>
  <div class="container d-flex justify-content-center">
    <div class="row p-5">
      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/aries.svg" class="card-img img-fluid rounded-start" alt="Aries">
            </div>
            <div class="col-md-8 ">
              <div class="card-body">
                <h5 class="card-title">Aries</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/taurus.svg" class="card-img img-fluid rounded-start" alt="Tauro">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Tauro</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/gemini.svg" class="card-img img-fluid rounded-start" alt="Géminis">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Géminis</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/cancer.svg" class="card-img img-fluid rounded-start" alt="Cáncer">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Cáncer</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/leo.svg" class="card-img img-fluid rounded-start" alt="Leo">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Leo</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/virgo.svg" class="card-img img-fluid rounded-start" alt="Virgo">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Virgo</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/libra.svg" class="card-img img-fluid rounded-start" alt="Libra">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Libra</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/scorpio.svg" class="card-img img-fluid rounded-start" alt="Escorpio">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Escorpio</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/sagittarius.svg" class="card-img img-fluid rounded-start" alt="Sagitario">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sagitario</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/capricorn.svg" class="card-img img-fluid rounded-start" alt="Capricornio">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Capricornio</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card text-bg-success">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/aquarius.svg" class="card-img img-fluid rounded-start" alt="Acuario">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Acuario</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-4 mb-1">
        <div class="card text-bg-success ">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/pisces.svg" class="card-img img-fluid rounded-start" alt="Piscis">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Piscis</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-1 p-5 d-flex justify-content-center align-items-center">
    <div class="card text-bg-success d-flex justify-content-center align-items-center" style="max-width: 1080px;">
      <div class="card-header">
        <h5 class="card-title">Tauro - 25/04/24</h5>
      </div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body text-dark">
              <h5 class="card-title">Tauro</h5>
              <p class="card-text b">
                Verá que su empatía le será de gran ayuda para salir de ese
                egoísmo y aislamiento social que ha estado experimentando últimamente con la
                gente que lo rodea.

                Amor: Deje de darle motivos a su pareja para que desconfíe de usted, de lo
                contrario, podrían surgir escenas de celos y podrían terminar peleados.

                Riqueza: Si tiene pensado realizar un negocio con parientes directos, evítelo,
                ya que pueden surgir conflictos. No pierda energías ni dinero en ese negocio.

                Bienestar: Haga lo posible por no ser tan soberbio. De lo contrario, podría dar
                una mala impresión a las personas nuevas con las que se relaciona.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img src="../../../assets/taurus.svg" class="card-img car-img-fluid rounded-start bg-success" alt="Tauro">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-5 p-5 d-flex justify-content-center align-items-center">
    <div class="card text-bg-success d-flex justify-content-center align-items-center" style="max-width: 1080px;">
      <div class="card-header">
        <h5 class="card-title">Tauro - Mes de Abril</h5>
      </div>
      <div class="card-body bg-light">
        <div class="row">
          <div class="col-md-9">
            <div class="card-body text-dark">
              <h5 class="card-title">Tauro</h5>
              <p class="card-text b">El horóscopo mensual de Tauro para abril de 2024 predice un
                mes
                dinámico con posibilidades de crecimiento, reflexión y giros inesperados. Tauro
                podría tener muchas oportunidades para nuevos emprendimientos y acciones
                determinantes para su futuro. Este mes podría ser un buen momento para ir a por
                lo que quiere, incluyendo el amor.
                Tauro podría experimentar un periodo de tranquilidad y seguridad en su vida
                hogareña, con una buena relación con su familia y una convivencia pacífica.
                También podría experimentar una mayor actividad en sus relaciones con amigos y
                pareja, con la Luna Llena en Escorpio.
                En el ámbito de la salud, los expertos astrólogos recomiendan a Tauro trabajar
                en
                su autocuidado y practicar actividades como la meditación y el yoga para
                fomentar el equilibrio mente y cuerpo. También se recomienda tener mucho cuidado
                con el exceso de trabajo que pueda generar estrés.

              </p>
            </div>
          </div>
          <div class="col-md-3">
            <img src="../../../assets/taurus.svg" class="card-img car-img-fluid rounded-start bg-success" alt="Tauro">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
